.amout_input {
    display: inline;
    width: 200px;
}

.alert_div {
    background: red;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    /* height: 50px; */
    padding: 20px;
    margin: 10px;
    color: white;
    font-size: 25px;
}

#아이디 {
    background: greenyellow;
}

#아-이디 {
    background: pink;
}

.descript_btn {
    width: 200px;
    display: inline;
    margin: 5px;
}
.descript_div{
    width: 620px;
    height: 200px;
    background: lightgray;
    margin: 5px;
}